 {% extends 'task/../layouts/master_blade.html' %} {% block content %}


<form method="POST" action="/login/" accept-charset="UTF-8" class="form-horizontal" role="form"><input name="_token" type="hidden" value="gc0r8anuV85AoiYksmD7DR5SjJHTqbe8UHOjGBZk">
    <!-- User Field -->
    <div class="form-group">

        <label for="text" class="col-sm-3 control-label">用户名</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="username">

        </div>
    </div>

    <!-- Password Field -->
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">密码</label>
        <div class="col-sm-6">
            <input class="form-control" name="password" type="password" value="" id="password">
            <br>

            <input class="form-control" name="code" type="text" placeholder="请输入验证码">
            <br>
           <img id='base64image' onclick="changeCode(this)" />
            <span class="help-block text-danger">
                {% csrf_token %}
                {% if  error is not None%}
                   {{ error }}
                
                {% endif %}      
            </span>
        </div>
    </div>

    <!-- Log In! Field -->
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
            <input class="btn btn-primary" type="submit" value="登　陆" name="log">

            &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/login/register/"> 未注册？去注册</a>
        </div>
    </div>
</form>


{% endblock %}