 {% extends 'task/../layouts/master_blade.html' %} {% block content %}


<form method="POST" action="/login/register/" accept-charset="UTF-8" class="form-horizontal" role="form"><input name="_token" type="hidden" value="gc0r8anuV85AoiYksmD7DR5SjJHTqbe8UHOjGBZk">
    <!-- User Field -->
    <div class="form-group">

        <label for="text" class="col-sm-3 control-label">请输入您的用户名</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="username"　placeholder="请输入用户名">

        </div>
    </div>

    <!-- Password Field -->
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">密码</label>
        <div class="col-sm-6">
            <input class="form-control" name="password" type="password" placeholder="请输入密码" id="password">
            
            <strong>重复密码：</strong>
            <input class="form-control" name="password" type="password" placeholder="请再次输入密码"  >
            <br>
        
            <span class="help-block text-danger">
                {% csrf_token %}
                {% if  error is not None%}
                   {{ error }}
                
                {% endif %}      
            </span>
        </div>
    </div>


    <!-- Log In! Field -->
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-5">
           

            &nbsp; &nbsp; &nbsp; &nbsp;
            <input class="btn btn-primary" type="submit" value="注　册" name='reg'>
        </div>
    </div>
</form>


{% endblock %}