<!DOCTYPE HTML>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta property="qc:admins" content="20574040667416216375"/>
    <meta property="qc:admins" content="205740460760160116301676375"/>
    <meta name="robots" content="all"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="author" content=""/>
    <meta name="Copyright" content=""/>
    <meta name="renderer" content="webkit">
    <title>{{composer.name}}的作品集 - 新世界</title>
    <meta name="keywords" content="{{composer.name}},导演,新世界,创作人,新媒体电影,新媒体影视,互联网影视,互联网电影,发行,短片,微电影,原创视频,创作人"/>
    <meta name="description" content="{{composer.intro}}"/>
    <link rel="shortcut icon" href="/favicon.ico?20161118"/>
    <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
    <style>
			.line-hide-1{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
	.hothover:hover{
	color: #999!important;
}


    </style>
    <link rel="stylesheet" href="http://www.xinpianchang.com/public/css/new-web/font-icon.css?v=1524557927">
    <link rel="stylesheet" href="http://www.xinpianchang.com/public/css/new-web/common.css?v=1525946301">
    <style>
	.fw_600{font-weight: 500;}


    </style>
    <!-- <script src="http://www.xinpianchang.com/public/js/wb.js" type="text/javascript" charset="utf-8"></script> -->
    <script>if (top.location != location){top.location.href = location.href;}</script>
    <script>
	var userid = 10356603;
	var username = '名字四个字';
	// 0 未知  1 男  2 女
	var sex = '0';
	// 出生日期
	var year = '';
	// 管理员类型
	var isadmin = '0';
	// 职业
	var profession = '';
	// 省份
	var province = '';
	// 入行年份
	var entry_year = '0';


    </script>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?dfbb354a7c147964edec94b42797c7ac";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();

(function(para) {
  var p = para.sdk_url, n = para.name, w = window, d = document, s = 'script',x = null,y = null;
  w['sensorsDataAnalytic201505'] = n;
  w[n] = w[n] || function(a) {return function() {(w[n]._q = w[n]._q || []).push([a, arguments]);}};
  var ifs = ['track','quick','register','registerPage','registerOnce','clearAllRegister','trackSignup', 'trackAbtest', 'setProfile','setOnceProfile','appendProfile', 'incrementProfile', 'deleteProfile', 'unsetProfile', 'identify','login','logout','trackLink','clearAllRegister','getAppStatus'];
  for (var i = 0; i < ifs.length; i++) {
    w[n][ifs[i]] = w[n].call(null, ifs[i]);
  }
  if (!w[n]._t) {
    x = d.createElement(s), y = d.getElementsByTagName(s)[0];
    x.async = 1;
    x.src = p;
    x.setAttribute('charset','UTF-8');
    y.parentNode.insertBefore(x, y);
    w[n].para = para;
  }
})({
  sdk_url: 'https://oss-xpc0.xpccdn.com/static/sensorsdata-1.8.14.min.js',
  name: 'sa',
  server_url: 'https://sa.xpccdn.com/sa?project=production',
  show_log: false
});
sa.quick('autoTrack');


    </script>
    <!-- start Dplus -->
    <script type="text/javascript">
        !function(a,b){if(!b.__SV){var c,d,e,f;window.dplus=b,b._i=[],b.init=function(a,c,d){function g(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]),a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var h=b;for("undefined"!=typeof d?h=b[d]=[]:d="dplus",h.people=h.people||[],h.toString=function(a){var b="dplus";return"dplus"!==d&&(b+="."+d),a||(b+=" (stub)"),b},h.people.toString=function(){return h.toString(1)+".people (stub)"},e="disable track track_links track_forms register unregister get_property identify clear set_config get_config get_distinct_id track_pageview register_once track_with_tag time_event people.set people.unset people.delete_user".split(" "),f=0;f<e.length;f++)g(h,e[f]);b._i.push([a,c,d])},b.__SV=1.1,c=a.createElement("script"),c.type="text/javascript",c.charset="utf-8",c.async=!0,c.src="//w.cnzz.com/dplus.php?id=1262268826",d=a.getElementsByTagName("script")[0],d.parentNode.insertBefore(c,d)}}(document,window.dplus||[]),dplus.init("1262268826");

    </script><!-- end Dplus -->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76608034-3', 'auto');
  ga('send', 'pageview');



    </script>
    <script src="http://www.xinpianchang.com/public/js/zhugeio.js?v=1502434507" type="text/javascript"
            charset="utf-8"></script>
    <script src="http://www.xinpianchang.com/public/js/jquery-1.7.1.min.js"></script>
</head>
<body>
<div class="filmplay-black-box feedback-wrap dn">
    <div class="filmplay-inner-box feedback-box">
        <div class="feedback-con creator-con">
            <span class="close icon-close"></span>
            <p class="fs_14 fw_600 c_b_3 line-hide-1">在线提交问题/建议</p>
            <div class="feedback-input-wrap">
				<textarea placeholder="亲，遇到什么麻烦了？
或者告诉我们希望增加什么功能呢？"></textarea>
                <span class="feedback-btn bg-red fs_14 fw_600 c_w_f">发送</span>
            </div>
        </div>
    </div>
</div>
<div class="slide-bar" style="z-index:1001;">
    <ul class="slide-bar-list">
        <li class="to-up icon-arrow-top"></li>
        <li class="to-wap icon-iphone">

            <div id="qrcode" class="qrcode-bottom dn">
                <h2 class="qrcode-title">扫描二维码，在手机上浏览</h2>
                <div class="qrcode-box">
                    <img class="new-logo" src="http://www.xinpianchang.com/public/images/logo_share.png" alt="newlogo"
                         width="40" height="40"/>
                </div>
            </div>

        </li>
        <li class="to-feedback" id="to-feedback"><span>用户<br>反馈</span></li>
    </ul>
</div>
<div class="search-wrap zIndex-2 dn opacity0">
    <div class="search-box">
        <div class="search-con">
            <i class="base-v-center v-center"></i>
            <div class="search-left">
                <span class="search-btn icon-search"></span>
                <form action="/index.php" mothod="get">
                    <input type="hidden" name="app" value="search">
                    <input class="search-input" type="text" name="kw" placeholder="搜索作品、创作人、文章">
                </form>
            </div>
            <span class="search-close-btn icon-close"></span>
        </div>
    </div>
</div>
<!-- header-v2: 透明header； fixed-header: fixed形式显隐； complex-header: 多一个absolute形式显隐； transition: 动画-->
<div class="msg_tip new-msg-tip top" id="h_xm_tip">
    <ul class="msg_tip_m list"></ul>
    <div class="new-msg-tip-close">全部忽略</div>
</div>
<div class="header-common fixed-header complex-header light-color header-v2  transition">
    <div class="header-con">
        <a class="logo v-center" href="/">
            <span class="logo-wrap"><svg xmlns="http://www.w3.org/2000/svg" width="100" height="25"
                                         viewBox="0 0 140 38"><path fill="#FFFFFF" fill-rule="evenodd"
                                                                    d="M29.973 23.69h-2.302l-.918-3.016-.28-1.05-.28 1.077-.885 2.99h-2.31l-1.225-9.521h1.971l.62 5.378.146 1.472.348-1.321.867-2.896h1.58l.927 2.877.399 1.358.162-1.509.518-5.36h1.878l-1.216 9.522zm-9.147-4.881c-.01.25-.022.483-.038.702h-5.677c0 .42.059.788.175 1.106.116.318.28.586.492.801.213.215.468.38.765.492.298.113.627.169.99.169.42 0 .868-.035 1.348-.108a9.728 9.728 0 0 0 1.49-.351v1.817c-.22.07-.461.132-.722.188-.26.056-.527.106-.799.15a10.683 10.683 0 0 1-1.631.132c-.657 0-1.247-.104-1.768-.31a3.48 3.48 0 0 1-1.325-.914c-.363-.402-.64-.9-.834-1.494-.192-.593-.287-1.28-.287-2.062 0-.774.095-1.48.287-2.114a5.047 5.047 0 0 1 .816-1.63 3.652 3.652 0 0 1 1.28-1.05 3.754 3.754 0 0 1 1.678-.37c.612 0 1.152.105 1.622.314.47.21.865.502 1.182.877.317.374.558.822.722 1.34.164.518.247 1.087.247 1.705 0 .157-.004.36-.013.61zm-9.852 4.882H8.9v-6.205c0-1.042-.351-1.564-1.053-1.564-.351 0-.688.156-1.008.469-.32.312-.658.736-1.016 1.273v6.027H3.75V14.17h1.792l.052 1.406c.176-.244.358-.466.548-.666.19-.2.396-.37.616-.511.222-.14.46-.248.714-.324.256-.074.542-.112.859-.112.442 0 .827.08 1.155.239.33.16.604.385.824.675.222.29.387.64.498 1.05.11.408.166.866.166 1.373v6.39zM24.2 5.377c13.16 7.532 15.582 15.063 7.272 22.597l1.256 4.652-5.442-1.448a54.183 54.183 0 0 1-3.086 1.9C8.066 42.313 0 37.695 0 19.228 0 .76 8.066-3.857 24.2 5.377zm-5.966 10.826a1.477 1.477 0 0 0-.543-.403 1.696 1.696 0 0 0-.668-.131c-.521 0-.95.192-1.283.576-.333.384-.532.927-.595 1.626h3.587c.005-.374-.038-.7-.128-.979a2.003 2.003 0 0 0-.37-.69zm43.66 4.178l-.203 2.88h-5.35l-.547 7.771c-.13 3.07-1.583 4.557-4.36 4.462h-2.478l.202-2.879h1.174c1.123.095 1.686-.478 1.688-1.726l.538-7.629h-5.742l.202-2.879h5.742l.233-3.31H46.6l.212-3.022h3.001a16.475 16.475 0 0 1-.74-4.319h3.524c-.023 1.537.182 2.975.609 4.319h3.393a14.775 14.775 0 0 0 1.217-4.319h3.523a18.248 18.248 0 0 1-1.348 4.319h2.871l-.213 3.022h-5.872l-.233 3.31h5.35zm2.67-16.408h6.785c2.343.097 4.455-.238 6.335-1.007l-.223 3.166c-1.612.673-3.46.961-5.541.864h-3.914l-.366 5.901h9.656l-.212 3.023h-2.871l-1.39 19.718H69.04l1.39-19.718h-3.001l-.64 9.067c-.11 5.279-2.066 8.971-5.869 11.083l.192-2.735c-2.69-1.342-3.968-4.174-3.837-8.492h3.131c-.21 2.975.327 5.231 1.611 6.765.502-.959.856-2.879 1.058-5.758l1.49-21.877zM48.27 24.843h3.002c-.319 4.512-2.403 7.534-6.25 9.067l.162-2.303c1.674-1.532 2.702-3.789 3.086-6.764zM62.807 5.557l-.212 3.022H47.98l.213-3.022h5.22L53.474 3h4.175l-.06 2.557h5.217zm38.502-2.591l-.65 9.212h7.308l-.223 3.166H86.997l-.314 4.462h16.049l-1.115 15.832H97.31l.893-12.666H86.46l-.142 2.015c-.04 5.469-2.867 9.211-8.489 11.227l.202-2.88c2.35-1.244 3.559-3.597 3.629-7.052L83.24 2.966h4.567l-.587 9.212h9.394l.65-9.212h4.044zm25.93 11.658h12.266l-1.074 15.257c-.098 3.837-1.879 5.66-5.343 5.47h-2.872l.202-2.88h1.828c1.479 0 2.227-.766 2.25-2.302l.882-12.522h-2.48c-.595 8.444-3.503 14.537-8.724 18.278l.243-3.454c2.765-3.453 4.418-8.394 4.959-14.824h-3.262c-.67 8.254-3.574 14.298-8.716 18.135l.233-3.31c2.867-3.646 4.52-8.587 4.959-14.825h-2.087l.212-3.023c4.311-1.918 8.086-5.852 11.328-8.635h-9.917l.213-3.023h16.571l-.214 3.023c-4.058 3.262-7.877 7.196-11.457 8.635zm-7.866 11.659l-.213 3.022a31.578 31.578 0 0 1-10.25 2.879l.253-3.599c1.13 0 2.229-.143 3.293-.432l1.095-15.544h-3.001l.213-3.023h3l.467-6.62h3.914l-.467 6.62h2.74l-.212 3.023h-2.74l-1.033 14.682c.888-.289 1.87-.624 2.94-1.008z"/></svg></span>
        </a>
        <ul class="fs_16 fw_300 nav-list clearfix v-center">
            <li class="nav-item ">
                <a href="/">首页</a>
            </li>
            <li class="nav-item hover-elem">
                <i class="icon-arrow-down"></i>
                <a href="/channel/index/sort-like">发现</a>
                <div class="common-hover-wrap issue-hover-wrap">
                    <div class="hover-box">
                        <ul class="list">
                            <li class="nav-dropdown-item">
                                <a class="nav-sublist-title fs_14 fw_600 c_b_3"
                                   href="/channel/index/sort-like?from=tabArticle">作品<i
                                        class="icon-arrow-right"></i></a>
                                <ul class="nav-sublist">
                                    <li class="nav-sublist-item"><a
                                            href="/channel/index/id-1/sort-like?from=indexAd">广告</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="/channel/index/id-16/sort-like?from=indexDrama">宣传片</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="/channel/index/id-31/sort-like?from=indexExperiment">剧情短片</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="/channel/index/id-49/sort-like?from=indexDocumentary">纪录片</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="/channel/index/id-76/sort-like?from=tabCutting">创意混剪</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="/channel/index/id-27/sort-like?from=tabMV">MV</a></li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li class="nav-dropdown-item">
                                <a class="nav-sublist-title fs_14 fw_600 c_b_3"
                                   href="/user/stars/sort-recommend?from=tabUser">创作人<i
                                        class="icon-arrow-right"></i></a>
                                <ul class="nav-sublist">
                                    <li class="nav-sublist-item"><a
                                            href="/index.php?app=user&ac=stars&sort=recommend&userType=1&roleid=1&from=tabDirector">导演</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="/index.php?app=user&ac=stars&sort=recommend&userType=1&roleid=5&from=tabCamera">摄影师</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="/index.php?app=user&ac=stars&sort=recommend&userType=1&roleid=7&from=tabCutter">剪辑师</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="/index.php?app=user&ac=stars&sort=recommend&userType=1&roleid=26&from=tabArt">美术</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="/index.php?app=user&ac=stars&sort=recommend&userType=1&roleid=2&from=tabProducer">制片人</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="/index.php?app=user&ac=stars&sort=recommend&userType=2&from=tabStudio">机构</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li class="nav-dropdown-item">
                                <a class="nav-sublist-title fs_14 fw_600 c_b_3" href="/exp">文章<i
                                        class="icon-arrow-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item ">
                <a href="/home">圈子</a>
            </li>
            <li class="nav-item school hover-elem">
                <a href="https://edu.xinpianchang.com">学院</a>
            </li>
            <li class="nav-item resource hover-elem resource-video">
                <i class="icon-arrow-down "></i>
                <a class="" href="https://resource.xinpianchang.com">素材</a>
                <!--<span class="removeSquare" style="font-size:10px;border-radius:50%;color:#fff;position:absolute;width:6px;height:6px;line-height:16px;text-align:center;top:16px;left:52px;background:#ec4d3d;background-size:100%"></span>-->
                <div class="common-hover-wrap issue-hover-wrap">
                    <div class="hover-box">
                        <ul class="list">
                            <li class="nav-dropdown-item">
                                <a class="nav-sublist-title fs_14 fw_600 c_b_3 resource-video"
                                   href="https://resource.xinpianchang.com/video/list">视频<i
                                        class="icon-arrow-right"></i></a>
                                <ul class="nav-sublist">
                                    <li class="nav-sublist-item nav-sublist-item-banner"><a
                                            href="https://resource.xinpianchang.com/video/subject/2">供稿人专辑之夏日田园</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/video/list?cate=13">人物</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/video/list?cate=12">自然</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/video/list?cate=16">科技</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/video/list?cate=2">建筑物</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/video/list?cate=3">背景</a></li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/video/list?cate=4">商业</a></li>
                                </ul>
                            </li>
                            <li class="line"></li>
                            <li class="nav-dropdown-item">
                                <a class="nav-sublist-title fs_14 fw_600 c_b_3"
                                   href="https://resource.xinpianchang.com/audio/list">音乐<i
                                        class="icon-arrow-right"></i></a>
                                <ul class="nav-sublist">
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/audio/list/?categories=180 ">温暖</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/audio/list/?categories=177 ">明快</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/audio/list/?categories=181 ">抒情</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/audio/list/?categories=184 ">振奋人心</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/audio/list/?categories=185 ">钢琴</a>
                                    </li>
                                    <li class="nav-sublist-item"><a
                                            href="https://resource.xinpianchang.com/audio/list/?categories=191 ">弦乐组</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item hover-elem service-on">
                <i class="icon-arrow-down "></i>
                <a class="">服务</a>
                <!--<span class="removeSquareTwo" style="font-size:10px;border-radius:50%;color:#fff;position:absolute;width:6px;height:6px;line-height:16px;text-align:center;top:16px;left:52px;background:#ec4d3d;background-size:100%"></span>-->
                <div class="common-hover-wrap issue-hover-wrap">
                    <div class="hover-box">
                        <ul class="list">
                            <li><a href="/activity/independence/ts-insurance" target="_blank">剧组意外险</a></li>
                            <li style="position: relative;"><a href="/activity/independence/ts-svtm" target="_blank">短视频交易市场</a>
                            </li>
                            <!-- <span style="font-size: 10px;border-radius: 2px;color: #fff;position: absolute;width: 24px;height: 15px;line-height: 16px;text-align: center;top: 7px;left: 50px;background: url(//oss-xpc0.xpccdn.com/Upload/boss/2018/01/045a4dd950c343e.png) no-repeat;background-size: 100%;"></span> -->
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a href="http://www.vmovier.com/activity?from=xpc" target="_blank">活动</a>
            </li>
            <li class="nav-item hover-elem">
                <i class="icon-arrow-down"></i>
                <a href="javascript:;">更多</a>
                <div class="common-hover-wrap issue-hover-wrap">
                    <div class="hover-box">
                        <ul class="list">
                            <li><a href="http://www.vmovier.com" target="_blank">场库</a></li>
                            <li><a href="http://film.xinpianchang.com" target="_blank">新世界影业</a></li>
                            <li><a href="https://molitv.tv" target="_blank">新世界短视频</a></li>
                            <li><a href="/project/make" target="_blank">新世界营销</a></li>
                            <!-- <li><a href="/activity/independence/ts-svtm" target="_blank">短视频交易市场</a></li> -->
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item newera">
               deng
            </li>
        </ul>
        <ul class="fr right-part ">


             {% if not request.composer %}
                 <li class="search-btn icon-search">
                <a href="/login/">登录</a>

            </li>

            <li class="ring-btn hover-elem">
               <a href="/register/">注册</a>
            </li>
                 {% else %}
            <li class="user-face hover-elem">
                <a href="/u{{request.composer.cid}}">
                    <div class="user-face-con">
                        <img src="{{ request.composer.avatar }}">
                    </div>
                </a>
                <div class="common-hover-wrap user-hover-wrap">
                    <div class="hover-box">
                        <ul class="list">
                            <li><a href="/user/space/id-10356603/sort-pick">个人主页</a></li>
                            <li class="line"></li>
                            <li><a href="/user/course">我的课程</a></li>
                            <li><a href="/user/resource">我的素材</a></li>
                            <li><a href="/user/order">我的订单</a></li>
                            <li><a href="/user/coupon">我的优惠券</a></li>
                            <li><a href="https://resource.xinpianchang.com/cart">我的购物车</a></li>
                            <li class="line"></li>
                            <li>
                                <a href="/user/userverify/ts-intro">认证</a>
                            </li>
                            <li><a href="https://passport.xinpianchang.com/settings" target="_blank">账号设置</a></li>
                            <li><a href="/logout/">退出登录</a></li>
                        </ul>

                    </div>
                </div>
            </li>

        {% endif %}
            <li class="upload-btn"><a href="/upload/index/ts-upload_index?from=tab">上传作品</a></li>
        </ul>
    </div>
</div>
<style>
    .common-notice-cover{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;background: rgba(0,0,0,0.5);}
    .common-notice-cover span{display: inline-block;}
    .common-notice-cover{opacity: 0;transition:all 0.5s;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;z-index: 10003;}

    .common-notice-cover-ground{width: 380px; background: #fff; position: absolute; left: 50%; top: 50%; margin: -100px 0 0 -190px; border-radius: 2px;}
    .common-notice-cover-ground .tip-wrap{position: relative; padding: 11px 20px 12px; border-bottom: 4px solid #f7f7f7;}
    .common-notice-cover-ground .tip-wrap .tip-title{font-size: 14px; font-weight: 600px; color: #333;}
    .common-notice-cover-ground .tip-wrap .notice-close{position: absolute; right: 20px; top: 50%; transform: translateY(-50%); cursor: pointer;}
    .common-notice-cover-ground .tip-wrap .notice-close:before{font-size: 18px; color: #000;}
    .common-notice-cover-ground .tip-wrap .notice-close i:hover:before{color: #666;}
    .common-notice-cover-ground .tip-contaniner{padding: 20px 40px; text-align: center;}
    .common-notice-cover-ground .tip-content{font-size: 14px; font-weight: 300; color: #333;}
    .common-notice-cover-ground .close-know{width: 100px;height: 60px;border-radius: 2px;background-color: #e74b3b;color: #fff;line-height: 60px;font-size: 14px;margin-top: 40px;display: inline-block;}

    .common-notice-cover-ground .tip-btn{margin-top: 30px; font-size: 0;}
    .common-notice-cover-ground .tip-btn span{display: inline-block; width: 98px; height: 34px; font-size: 14px; font-weight: 500; line-height: 34px; border-radius: 2px; color: #fff; cursor: pointer;}
    .common-notice-cover-ground .tip-btn .close-sure{background-color: #fff; border: solid 0.5px rgba(153,153,153,.5); color: #333; margin-right: 20px;}
    .opacity-1{opacity: 1!important;}



</style>
<div class="common-notice-cover dn">


    <div class="common-notice-cover-ground">
        <div class="tip-wrap">
            <h2 class="tip-title">提示</h2>
            <span class="common-notice-cover-close notice-close icon-close"></span>
        </div>
        <div class="tip-contaniner">
            <p class="tip-content">你是否要取消绑定（第三方名字）账号？</p>
            <div class="tip-btn">
                <span class="close-sure">确认</span>
                <span class="close-cancel bg-red">取消</span>
            </div>
        </div>
    </div>

</div>

<script>

    var dialogTipCallback;
    var _body = $("body"),
        _commonNoticeCover = $(".common-notice-cover"),
        _tipContent = $(".tip-content"),
        _tipTitle = $(".tip-title"),
        _tipCancel = $(".close-cancel"),
        _tipSure = $(".close-sure");
    function showSureDialogTip(obj,callback){
        _commonNoticeCover.removeClass("dn");
        setTimeout(function(){
            _commonNoticeCover.addClass("opacity-1");
        },0)

        if (obj.title) {
            _tipTitle.text(obj.title);
        }
        if (obj.content) {
            _tipContent.text(obj.content);
        }
        if (obj.cancel) {
            _tipCancel.text(obj.cancel);
        }
        if (obj.sure) {
            _tipSure.text(obj.sure);
        }

        dialogTipCallback = callback || function(){};
        _body.addClass("ovh");
    }

    $(".tip-btn span, .notice-close").on("click",function(){
        _commonNoticeCover.removeClass("opacity-1");
        setTimeout(function(){
            _commonNoticeCover.addClass("dn");
        },300)
        if($(this).hasClass("close-sure")){
            dialogTipCallback();
        }
        _body.removeClass("ovh");
    })



</script>
<style>
    /*.dialog-tip{position: absolute;color: #fff;z-index: 1000;opacity: 0;transition:all 1s;width: 100%;text-align: center;background-color: #e74b3b;height: 50px;line-height: 50px;transform:translateY(-50px);top:0;}
    .dialog-tip .tip-content{padding-left: 18px;background: url(../img/error-notice@3x.png) no-repeat;background-position: left;background-size: 14px;}
    .dialog-tip-show{opacity: 1;transform:translateY(0px);}*/

    .dialog-tip{position: fixed;color: #fff;z-index: -1;opacity: 0;transition:all 1s;-webkit-transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;width: 100%;text-align: center;background-color: #e74b3b;height: 50px;line-height: 50px;transform:translateY(-50px);-webkit-transform:translateY(-50px);-moz-transform:translateY(-50px);-ms-transform:translateY(-50px);top:0; z-index: 100000;}
    .dialog-tip .tip-content{padding-left: 20px;background: url(http://www.xinpianchang.com/public/images/error-notice@3x.png) no-repeat;background-position: left;background-size: 14px;display: inline-block;}
    .tip-success{background-color: #28ca42;}
    .tip-success .tip-content{background-image: url(http://www.xinpianchang.com/public/images/success-notice@3x.png)}
    .dialog-tip-show{opacity: 1;transform:translateY(0px);-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);}


</style>
<div class="dialog-tip">

    <span class="tip-content">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览器版本过低，为了正常使用请升级浏览器，推荐使用Chrome浏览器</span>

</div>

<script>

    /*var dialogTipCallback;


    var _dialogTip = $(".dialog-tip");
    function showDialogTip(obj,callback){
        _dialogTip.addClass("dialog-tip-show");

        $(".tip-content").text(obj.content);

        setTimeout(function(){
            _dialogTip.removeClass("dialog-tip-show");
            (callback || function(){})()
        },2000)

        // dialogTipCallback = callback || function(){};

    }*/

    var noop = noop || function() {};
    var templete = $(".dialog-tip");

    window.showDialogTip = function (obj, callback) {
        callback = callback || obj.complete || noop;
        //var type = obj.type || 'ERROR';
        var content = obj.tip || (obj + '');
        var timeout = obj.timeout || 2500;

        // 每次showDialogTip，都要clone一个tip的模板，让每一次吐司都是独立的调用
        var tip = templete.clone().appendTo(document.body);
        tip.find(".tip-content").text(content);

        setTimeout(function() {
            // appendTo body 之后，需要一点时间（20ms,至少经过一个animate looper）来使得css生效
            // 然后再增加dialog-top-show，就能有css动画了

            tip.addClass("dialog-tip-show tip-" + (obj.error ? "" : "success")).css("z-index",10003);

            setTimeout(function() {
                // timeout 后开始消失css动画
                tip.removeClass("dialog-tip-show");
                setTimeout(function() {
                    // 500ms css小时动画结束后，移出append的tip
                    tip.remove();
                }, 500);
                callback();
            }, timeout);
        }, 20);


    }

    // $(".close-know,.close").on("click",function(){

    //     _dialogTip.removeClass("opacity-1");
    //     setTimeout(function(){
    //         _dialogTip.addClass("dn");
    //     },1000)
    //     dialogTipCallback();
    //     // _body.removeClass("ovh");
    // })



</script>
<script src="http://www.xinpianchang.com/public/js/jquery-qrcode-0.14.0.js?v=1502434507"
        type="text/javascript"></script>
<script type="text/javascript" src="http://www.xinpianchang.com/public/js/new-web/common.js?v=1516708046"></script>
<script type="text/javascript" src="http://www.xinpianchang.com/public/js/xpcstat.js?v=1516694457"></script>
<script type="text/javascript">
	// 神策统计
	var pageFrom = getRequest().from ? getRequest().from : 'other',
		stat = new Stat(sa, {
			userid: userid,
			sex: sex,
			year: year,
			province : province,
			isadmin: isadmin

		});
	stat.registerPage({
		userid: userid,
		isadmin: isadmin
	});


</script>
<script type="text/javascript">


	// if (!localStorage.getItem("tagnew") || localStorage.getItem("tagnew") == 0) {
 //        $(".removeSquare").removeClass('dn');
 //    } else {
 //        $(".removeSquare").addClass('dn');
 //    }
	// $(".resource-video").hover(function(){
	// 	localStorage.setItem("tagnew", 1);
	// 	$(".removeSquare").addClass('dn');
	// })

	// if (!localStorage.getItem("tagNew") || localStorage.getItem("tagNew") == 0) {
 //        $(".removeSquareTwo").removeClass('dn');
 //    } else {
 //        $(".removeSquareTwo").addClass('dn');
 //    }
	// $(".service-on").hover(function(){
	// 	localStorage.setItem("tagNew", 1);
	// 	$(".removeSquareTwo").addClass('dn');
	// })


	var siteUrl = 'http://www.xinpianchang.com/',
		hoverElem = $(".hover-elem"),
		loginUserid = userid;
	$(function(){

		function setCookie(name,value){
			var Days = 30;
			var exp = new Date();
			exp.setTime(exp.getTime() + Days*24*60*60*1000);
			document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
		}

		function getCookie(name){
			var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
			if(arr=document.cookie.match(reg))
			return unescape(arr[2]);
			else
			return null;
		}
		var searchWrap = $(".search-wrap"),
			searchLeft = $(".search-left"),
			searchBtn = $(".search-btn"),
			searchClose = $(".search-close-btn"),
			searchInput = $(".search-input");
		searchBtn.on("click", function() {
			searchWrap.removeClass("dn opacity0");
			setTimeout(function() {
				searchLeft.find("input").focus();
				searchLeft.addClass("slideLeft")
				searchClose.addClass("show");
				searchInput.focus();
			}, 30);
		});

		searchClose.on("click", searchInit);

		searchWrap.on("click", function(e) {
			if (e.target.className.indexOf("search-wrap") != -1) {
				searchInit();
			}
		});

		function searchInit() {
			searchWrap.addClass("opacity0");
			setTimeout(function() {
				searchWrap.addClass("dn");
			}, 150);
			searchLeft.removeClass("slideLeft")
			searchClose.removeClass("show");
		}

		hoverElem.hover(function(e) {
			var _this = $(this),
			hoverWrap = _this.find(".common-hover-wrap");
			hoverWrap.addClass('visible')

		}, function(e) {
			var _this = $(this),
			hoverWrap = _this.find(".common-hover-wrap");
			hoverWrap.removeClass('visible')
		});

	})

	$(".to-feedback").click(function(){

		if (!loginUserid) {
			$(".feedback-wrap").addClass("dn");
			loginIframe.show();
			return;
		}
		banPageScroll();
		$(".feedback-wrap").removeClass("dn");
	})

	$(".feedback-btn").on('click',function(){
		var _this = $(this)[0];
		var content = $.trim($(".feedback-input-wrap textarea").val());
		if (!_this.flag) {
			_this.flag = true;
			$.post('/index.php?app=aboutus&ac=feedback',{content: content}, function(res) {

				if (res.status == -1) {
					$(".feedback-wrap").addClass("dn");
					loginIframe.show();
					return;
				}

				if (res.status == 1) {
					showDialogTip({tip: "反馈成功"}, function() {
						allowPageScroll();
						$(".feedback-wrap").addClass("dn");
						$(".feedback-input-wrap textarea").val("");
						_this.flag = false;
					});
				} else {
					showDialogTip({tip:'反馈内容不能为空', error: true});
					_this.flag = false;
				}
			},'json')
		}

	});

	$("#feedback_close_btn_div").click(function(){
		allowPageScroll();
		$(".feedback_post_bg").fadeOut(200);
		$("#feedback_post_textarea_div textarea").val('');
	});

	$(".slide-bar .to-up").on("click",function(){
		$("html,body").animate({scrollTop:0},800);
	});

	checkPosition($(window).height());
	$(window).on("scroll",function(){
		checkPosition($(window).height());
	});

	function checkPosition(pos){
		if($(window).scrollTop() > pos){
			$(".to-up").fadeIn();
		}else{
			$(".to-up").fadeOut();
		};
	};

	$('.qrcode-box').qrcode({
	    render  : "canvas",
	    width: 200,
	    height: 200,
	    text  : location.href
	});

	$('.to-wap').hover(function () {
		$('#qrcode').removeClass("dn");
	},function(){
		$('#qrcode').addClass("dn");
	})



</script>
<script src="http://www.xinpianchang.com/public/js/canvas2image.js?v=1502434507" type="text/javascript"></script>
<div class="header-container">

    <style>
    .common-layer-cover{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 10001;background: rgba(0,0,0,0.5);}
    .common-layer-cover .set-bg-pop{position: absolute; width: 540px; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 2px; background-color: #FFF;}
    .tip-wrap{position: relative; padding: 14px 20px; border-bottom: 4px solid #f7f7f7;}
    .tip-wrap .set-bg-tab{font-size: 14px; font-weight: 500; color: #333; text-align: center;}
    .tip-wrap .set-bg-tab a{position: relative; font-weight: 300;}
    .tip-wrap .set-bg-tab a.selected{font-weight: 500;}
    .tip-wrap .set-bg-tab a.selected:after{content: ""; position: absolute; width: 20px; height: 4px; background-color: #e74949; left: 50%; transform: translateX(-50%); bottom: -14px;}
    .tip-wrap .set-bg-tab a.custom{margin-right: 40px;}
    .tip-wrap .tip-title{font-size: 14px; font-weight: 600px; color: #333;}
    .tip-wrap .dialog-close{position: absolute; right: 20px; top: 50%; transform: translateY(-50%); cursor: pointer;}
    .tip-wrap .dialog-close i:before{font-size: 14px; color: #000;}
    .tip-wrap .dialog-close i:hover:before{color: #666;}
    .set-bg-pop-drag{width: 100%;background-color: #fff;height: 30px;cursor: move;vertical-align: middle;}
    .set-bg-pop-drag span {margin-left: -7px;margin-top: 5px;font-size: 14px;}

    .set-bg-pop-content{position: relative; padding: 20px;}
    .set-bg-main{overflow: hidden; height: 319px; overflow-y: auto; background-color: #f7f7f7;}
    .set-bg-main::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,0)}
    .set-bg-main::-webkit-scrollbar{display:none}
    .set-bg-main .set-bg-2{padding: 0 20px;}
    .bgd-list{margin-right: -25px;*padding-bottom: 30px;}
    .bgd-list li{cursor: pointer;border: 2px solid #EFEFEF;border-radius: 2px;width: 153px;height: 104px;margin: 0 20px 20px 0 ; float: left;background-color: #f9f9f9; box-sizing: border-box;}
    .bgd-list li:nth-of-type(3n){margin-right: 0;}
    .bgd-list li.selected{border-color: #e74b3b;}
    .bgd-list li img{width: 100%;height: 100%;}
    .set-bg-pre{height: 116px;background-color: rgba(0, 0, 0, 0.1);text-align: center; margin-top: 88px; overflow: hidden; position: relative; background-repeat: no-repeat; background-size: cover; background-position: center;}
    .set-bg-pre .bg-cover{position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.4);}
    .set-bg-pre .loading-cover{position: absolute; width: 100%; height: 100%; top: 0; left: 0;}
    .set-bg-pre img{max-height: 100%;}
    .upload-tip{font-size: 12px; font-weight: 300; color: #999; text-align: center; padding-top: 10px;}
    .set-bg-btn{height: 160px;}
    .tc{text-align: center;margin-top: 20px;}
    .button-group{display: block; width: 100px; height: 36px; line-height: 36px; text-align: center; font-size: 14px; font-weight: 500; color: #fff; border-radius: 2px; margin: 30px auto 0;}
    .uploadify-button{background: #e74b3b;border:none;margin-left: 0;}
    .uploadify-queue-item *{display: none;}
    .uploadify-queue-item .uploadify-progress{display: block; position: absolute; width: 400px; height: 4px; border-radius: 2px; background-color: rgba(255, 255, 255, 0.4); top: 50%; left: 50%; transform: translate(-50%, -50%); border: none;}
    .uploadify-queue-item .uploadify-progress .uploadify-progress-bar{display: block; border-radius: 2px; background-color: #fff;}
    #id-upload-bg{width: 100%; height: 100%;}
    #id-upload-bg .bg-cover{position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,.4);}
    #file_upload_1-button{position: absolute; width: 100%; height: 100%; top: 0; left: 0; padding: 0; margin: 0; border-radius: 0; background-color: rgba(0,0,0,0); font-size: 16px; font-weight: 500; color: #fff; line-height: 116px;}


    </style>
    <div class="common-layer-cover dn">
        <div class="set-bg-pop pop-c" id="id-setbg-pop">
            <div class="tip-wrap">
                <h2 class="set-bg-tab" id="id-bg-tab">
                    <a class="custom selected" href="javascript:void(0);">自定义背景</a>
                    <a class="default" href="javascript:void(0);">默认背景</a>
                </h2>
                <span class="common-notice-cover-close  dialog-close close-reload close-drag"><i class="icon-close"></i></span>
            </div>
            <div class="set-bg-pop-content">
                <div class="set-bg-main " id="id-bg-main">
                    <div class="set-bg-1 dn">
                        <ul class="bgd-list clearfix" id="id-bgd-list"></ul>
                    </div>
                    <div class="set-bg-2 clearfix">
                        <div class="set-bg-pre" id="id-bg-pre"
                             style="background-image:url(http://cs.xinpianchang.com/app/user/html/stars/css/skin28/bg-big.jpg)">
                            <span class="bg-cover"></span>
                            <span class="loading-cover dn"></span>
                            <a href="javascript:void(0);" id="id-upload-bg">
                                <span class="bg-cover dn"></span>
                            </a>
                        </div>
                        <div class="upload-tip">请上传格式为 JPG、JPEG、PNG 的文件。<br>文件大小不超过 5M，图片尺寸不小于 1440*370 px。</div>
                    </div>
                </div>
                <a href="javascript:void(0);" class="button-group bg-red" id="id-cg-save">保 存</a>
            </div>
        </div>
    </div>
    <script type="text/javascript"
            src="http://www.xinpianchang.com/public/js/html5uploader/jquery.loadscript.js?v=1530004886"></script>
    <script type="text/javascript"
            src="http://www.xinpianchang.com/public/js/html5uploader/jquery.Huploadify.js?v=1508917245"></script>
    <script type="text/javascript"
            src="http://www.xinpianchang.com/public/js/html5uploader/jquery.uploadify.min.js?v=1502434507"></script>
    <script type="text/javascript"
            src="http://www.xinpianchang.com/public/js/html5uploader/jquery.uploadAdapter.js?v=1530004886"></script>
    <script type="text/javascript"
            src="http://www.xinpianchang.com/app/user/html/stars/css/skinconf/page.js?v=1510813337"></script>
    <script>
    $(function(){
        var bgElem = $(".banner-container .banner-wrap");
        var bgElemStyle = bgElem.attr("style");

        var list = pageData.list;
        for(var i=0;i<list.length;i++){
            var tmp = '<li data-skin="'+list[i].id+'"><img src="'+list[i].url+'?20140627" alt=""/></li>';
            $(tmp).appendTo($('#id-bgd-list'));
        }
        bg_cg_func();

        /*  背景设置    */
        var pace = 100;
        var _c_skin = $('#id-alpha-skin')?$('#id-alpha-skin'):$(''),_bg_img = '';
        var _d_skin = $('');
        var skin = 0;
        $('#id-alpha').bind('click',function(){
            _c_skin.remove();
            _c_skin = $.loadCss('/app/user/html/stars/css/default-alpha.css');
        });
        $('#id-no-alpha').bind('click',function(){
            _c_skin.remove();
            _c_skin = $.loadCss('/app/user/html/stars/css/default-no-alpha.css');
        });
        function bg_cg_func(){
            $('#id-bgd-list li').on('click',function(){
                _c_skin.remove();
                $('#id-bgd-list li.selected').removeClass('selected');
                $(this).addClass('selected');
                skin = $(this).data('skin');
                var url = "http://cs.xinpianchang.com/app/user/html/stars/css/skin" + skin + "/bg-big.jpg";
                bgElem.attr("style", "background-image:url("+ url +")");
            });
        }
        $('#id-cg-save').bind('click',function(){

            if (!$(".set-bg-1").hasClass("dn")) {
                if( !skin ){
                    showDialogTip({
                        error : true,
                        tip : "请选择你喜欢的背景"
                    });

                    return;
                }
                var obj ={
                    type:0,
                    skin:skin,
                    url : "http://cs.xinpianchang.com/app/user/html/stars/css/skin" + skin + "/bg-big.jpg"
                }
                $.post("/index.php?app=user&ac=space_set&ts=background",obj,function(res){
                    if( res.status == 1 ){
                        $(".common-layer-cover").addClass("dn");
                        showDialogTip({
                            tip : "修改成功"
                        },function(){
                            location.reload();
                            // allowPageScroll();
                            // $(".common-layer-cover").addClass("dn");
                        })

                    }
                },'json');

            } else {
                if( _bg_img == '' ){
                    showDialogTip({
                        tip : "请先上传背景图",
                        error : true
                    });
                    return;
                }
                var obj = {
                    type:1,url:_bg_img,
                    alpha:$('#id-alpha').attr('checked')=='checked'?1:0
                };
                $.post("/index.php?app=user&ac=space_set&ts=background",obj,function(res){
                    if( res.status == 1 ){
                         $(".common-layer-cover").addClass("dn");
                        showDialogTip({
                            tip : "修改成功",
                        },function(){
                            location.reload();
                        })

                    }
                },'json');
            }

        });

        $('#id-set-bg').on('click',function(){

            var _dom = $('#id-setbg-pop').parent();

            _dom.removeClass("dn");
            banPageScroll();

        });
        $('#id-bg-tab>a').each(function(i){
            $(this).bind('click',function(){
                $(this).addClass('selected').siblings().removeClass("selected");
                var _dom = $('#id-bg-main>div');
                _dom.eq(i).addClass('dn').siblings().removeClass("dn");
            });
        });
        //关闭按钮动作
        $("html body").on("click",".dialog-close",function(){
            var _dom = $('#id-setbg-pop').parent();
            _dom.addClass("dn");
            allowPageScroll();
            bgElem.attr("style", bgElemStyle);
        });


        //上传图片
        var uploadFlag = false;

        $('#id-upload-bg').uploadAdapter({
            auto: true,multi: false,buttonText: "上传背景图", height : 28,width: 100,
            uploader: '/index.php?app=user&ac=space_set&ts=background_upload',
            method: "POST",
            fileSizeLimit: '5MB',
            fileTypeDesc: "仅支持JPG、JPEG、PNG、GIF图片",
            fileTypeExts: "image/gif;image/jpeg;image/jpg;image/png",
            preventCaching: false,
            formData:   {'userid':'10017461'},
            baseUrl: "http://www.xinpianchang.com/public/js/html5uploader",
            onInit:function(){
            },
            onSelect:function(){
                // $('#id-upload-bg').uploadify('disable',true);

            },
            onUploadStart: function() {
                $("#file_upload_1-button").text("");
                $(".loading-cover").removeClass("dn");
            },
            onUploadSuccess: function(file,data,response){
                var res = $.parseJSON(data);
                if( res.status == -1 ){
                    showDialogTip({tip: res.message, error: true});


                } else {
                    _bg_img = res.imgUrl;
                    bgElem.attr("style", "background-image:url("+ res.imgUrl +")");
                    $('#id-bg-pre').css("background-image","url(" + res.imgUrl+ ")");
                     _d_skin.remove();
                }
                $("#file_upload_1-button").text("上传背景图");
                $(".loading-cover").addClass("dn");
                // $(".bg-cover").removeClass("dn");
            }
        });
    })

/*  end背景设置 */


    </script>
    <div class="banner-container">
        <div class="banner-wrap"
             style="background-image:url({{composer.banner}})">
            <div class="banner-linear">
                <!-- <img class="banner-img" src="http://cs.xinpianchang.com/app/user/html/stars/css/skin27/bg-big.jpg"> -->

                <!-- <div class="bannerbg" ></div>
                 -->
                <span class="avator-wrap-s">
					<img src="{{composer.avatar}}">
										<span class="{{composer.verified}}"></span>
									</span>
            </div>
        </div>
    </div>
    <div class="creator-info-wrap">
        <div class="creator-info">
            <div class="btn-wrap">
                <a href="javascript:void(0);" class="btn show-qr fs_12 fw_600 c_b_3"><i class="icon-share"></i></a>
                <a class="btn contact-btn"
                   href="http://www.xinpianchang.com/user/message/ts-add/touserid-10017461"><span
                        class="fs_12 fw_600 c_b_3 btn-message ">联系他</span></a>
                <span class="fw_600 c_b_3 bg-red follow-btn btn " data-userid="10017461"
                      data-username="{{composer.name}}"><span class="follow-icon icon-plus v-center "></span><span
                        class="fs_12 follow-text v-center">关注</span></span>

            </div>
            <p class="creator-name fs_26 fw_600 c_b_26">{{composer.name}}</p>
            <p class="creator-desc fs_14 fw_300 c_b_3 line-hide-1">{{composer.intro}}</p>
            <p class="creator-detail fs_14 fw_300 c_b_9">
				<span class="like-wrap">
					<span class="v-center">人气</span>&nbsp;
					<span class="like-counts fw_600 v-center">{{composer.like_counts}}</span>
				</span>
                <span class="fans-wrap">
					<span class="v-center">粉丝</span>&nbsp;
					<span class="fans-counts fw_600 v-center" data-counts="{{composer.fans_counts}}">{{composer.fans_counts}}</span>
				</span>
                <span class="follow-wrap">
					<span class="v-center">关注</span>&nbsp;
					<span class="fw_600 v-center">{{composer.follow_counts}}</span>
				</span>
                <span class="icon-location v-center" style="margin-left: 36px;"></span>
                <span class="v-center" style="margin-left: 5px;">{{composer.location}}</span>
                <span class="icon-career v-center" style="margin-left: 36px;"></span>
                <span class="v-center" style="margin-left: 5px;">{{composer.career}}</span>
            </p>
        </div>
    </div>
    <div class="index-tab">
        <ul class="tab-list">
            <li class="select">
                <a href="http://www.xinpianchang.com/user/space/id-10017461/d-1" class="fs_16 fw_300 c_b_26">作品</a>
            </li>
            <li class=""><a class="fs_16 fw_300 c_b_26" href="/user/exp/id-10017461">文章</a></li>
            <li class="">
                <a href="http://www.xinpianchang.com/user/like/id-10017461" class="fs_16 fw_300 c_b_26">喜欢</a>
            </li>
            <li class="last "><a class="fs_16 fw_300 c_b_26" href="http://www.xinpianchang.com/user/intro/id-10017461">简介</a>
            </li>
        </ul>
        <span class="red-underline"></span>
    </div>
</div>
<div class="filmplay-black-box like-creator-wrap dn">
    <div class="filmplay-inner-box like-creator-box">
        <div class="like-creator-con creator-con">
            <span class="close icon-close"></span>
            <p class="fs_14 fw_300 c_b_26 line-hide-1"><span class="like-creator-counts fw_600"></span>个粉丝</p>
            <div class="list-wrap">
                <ul class="list"></ul>
                <div class="more fs_16 fw_600 c_b_9">更多</div>
            </div>
        </div>
    </div>
</div>
<div class="filmplay-black-box follow-creator-wrap dn">
    <div class="filmplay-inner-box like-creator-box">
        <div class="like-creator-con creator-con">
            <span class="close icon-close"></span>
            <p class="fs_14 fw_300 c_b_26 line-hide-1">关注了<span class="follow-creator-counts fw_600"></span>个人</p>
            <div class="list-wrap">
                <ul class="list"></ul>
                <div class="more fs_16 fw_600 c_b_9">更多</div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="fixed-2017">
    <div class="fixed-bg" style="width: 50px; background-image: url(//oss-xpc0.xpccdn.com/Upload/boss/2018/01/025a4b685aa499f.png);"></div>
    <div class="qrcode">
        <img src="//oss-xpc0.xpccdn.com/Upload/boss/2017/12/305a466e9c57659.png" alt="">
        <p>扫描二维码<br>查看我的2017<br>年度创作报告</p>
    </div>
</div> -->
<script type="text/javascript">
	/* 神策统计 */
	var attrStat = {
		userPageFrom: pageFrom,
		userID: '10017461',
		userCategory: '导演'
	};

	stat.registerPage(attrStat);

	// 访问页面统计
	stat.track("userPageView");

	// 点击联系他
	stat.registerEvent('clickContactUser', function(){
		var _contactBtn = $('.contact-btn');
		_contactBtn.on('click', function() {
			stat.track("clickContactUser");
		});
	});

	// 关注和取消关注的统计
	stat.registerEvent('clickFollowUser', function(){
		var _followBtn = $('.follow-btn'),
			flag = _followBtn.hasClass('followed');
		_followBtn.on('click', function() {
			stat.track("clickFollowUser", {
				isFollow: !flag
			});
			flag = !flag;
		});
	});

	// 点击联系他
	stat.registerEvent('clickShareUser', function(){
		var _shareBtn = $('.show-qr');
		_shareBtn.on('click', function() {
			stat.track("clickShareUser");
		});
	});
	/* 神策统计 */
	$(function() {
		var _needOpen = $(".need-open");

		var hideTimer;
		var userid = '10017461';
		_needOpen.on("mouseenter", function() {
			var _this = $(this),
			hoverWrap = _this.find(".hover-wrap");
			_this.addClass("open");
			hoverWrap.addClass("visible");
		});

		_needOpen.on("mouseleave", function() {
			var _this = $(this),
			hoverWrap = _this.find(".hover-wrap");
			_this.removeClass("open");
			hoverWrap.removeClass("visible");
		});

	});
	var curId  = '10017461';
	// 粉丝弹窗
	var pageLike = 1,
		_likePopupWrap = $(".like-creator-wrap"),
		_moreLikeBtn = _likePopupWrap.find(".more"),
		likeFlag = true;

	$(".fans-wrap").on("click", function() {
		banPageScroll();
		_likePopupWrap.removeClass("dn");
	});

	getLikeData(pageLike);
	function getLikeData(page, resetContent) {
		if (page == 1) {
			_moreLikeBtn.removeClass("dn");
		}
		resetContent = resetContent || false;
		if (likeFlag) {
			_moreLikeBtn.html("<span class='common-ajax-loading'></span>");
			likeFlag = false;
			$.ajax({
		        type: "GET",
		        url: "/user/getUserfollow",
		        data: {type: 'followed', page: page, userid: curId},
		        dataType: "JSON",
		        success:function(res){
		        	if (page == 1) {
						_likePopupWrap.find(".like-creator-counts").text(toThousands(res.data.totalCount));
					}

					if (res.data.totalPage == 0) {
						if (resetContent) {
							_likePopupWrap.find(".list").html('<li class="no-creator-like fs_14 fw_600 c_b_9">没有粉丝</li>');
						} else {
							_likePopupWrap.find(".list").append('<li class="no-creator-like fs_14 fw_600 c_b_9">没有粉丝</li>');
						}

					} else {
						var str = '';
						res.data.list.forEach(function(elem, index) {
							if (elem.userid) {
								str += '<li><a class="a-wrap enter-creator-space" href="javascript:;" data-userid="'+ elem.userid +'"><div class="avator-wrap"><img class="avator" src="'+ elem.face_80 +'"><span class="author-v '+ (elem.isadmin == 3 ? "yellow-v" : (elem.isadmin == 4 ? "blue-v" : "")) +'"></span></div><div class="info"><h3 class="fs_14 fw_600 c_b_3 line-hide-1">'+ elem.username +'</h3><div class="info-right fs_12 c_b_9"><span class="fw_300">关注</span>&nbsp;<span class="fw_600 follow-counts">'+ toThousands(elem.count_follow) +'</span><span class="i-icon v-center"></span><span class="fw_300">粉丝</span>&nbsp;<span class="fw_600 fan-counts" data-counts="'+ elem.count_followed +'">'+ toThousands(elem.count_followed) +'</span></div></div>'+ (elem.userid != userid ? '<span class="follow-btn fs_12 c_w_f fw_500 bg-red '+ (elem.isfollow == 1 ? "followed" : "") +'" data-userid="'+ elem.userid +'" data-username="'+ elem.username +'">'+ (elem.isfollow == 1 ? "已关注" : "关注") +'</span>' : '') +'</a></li>'
							}

						});
						if (resetContent) {
							_likePopupWrap.find(".list").html(str);
							pageLike = 1;
						} else {
							_likePopupWrap.find(".list").append(str);

							if (page == 1 && localStorage.getItem("open-fans-box") == 1) {
								banPageScroll();
								_likePopupWrap.removeClass("dn");
								localStorage.setItem("open-fans-box", 0);
							}
						}

						pageLike++;
					}

					likeFlag = true;
					_moreLikeBtn.text("更多").find(".common-ajax-loading").remove();

					if (page >= res.data.totalPage) {
						_moreLikeBtn.addClass("dn");
					}
		        },
		        error: function(error) {
		        	showDialogTip({tip: "网络错误", error: true});
		        	likeFlag = true;
		        	_moreLikeBtn.text("更多").find(".common-ajax-loading").remove();
		        }
		    });
		}
	}
	_moreLikeBtn.on("click", function() {
		getLikeData(pageLike);
	});

	// 关注弹窗
	var pageFollow = 1,
		_followPopupWrap = $(".follow-creator-wrap"),
		_moreFollowBtn = _followPopupWrap.find(".more"),
		followFlag = true;

	$(".follow-wrap").on("click", function() {
		banPageScroll();
		_followPopupWrap.removeClass("dn");
	});

	getFollowData(pageFollow);
	function getFollowData(page) {
		if (page == 1) {
			_moreFollowBtn.removeClass("dn");
		}
		if (followFlag) {
			_moreFollowBtn.html("<span class='common-ajax-loading'></span>");
			followFlag = false;
			$.ajax({
		        type: "GET",
		        url: "/user/getUserfollow",
		        data: {type: 'follow', page: pageFollow, userid: curId},
		        dataType: "JSON",
		        success:function(res){
		        	if (page == 1) {
						_followPopupWrap.find(".follow-creator-counts").text(toThousands(res.data.totalCount));
					}

					if (res.data.totalPage == 0) {
						_followPopupWrap.find(".list").append('<li class="no-creator-like fs_14 fw_600 c_b_9">没有关注</li>');

					} else {
						var str = '';
						res.data.list.forEach(function(elem, index) {
							if (elem.userid) {
								str += '<li><a class="a-wrap enter-creator-space" href="javascript:;" data-userid="'+ elem.userid +'"><div class="avator-wrap"><img class="avator" src="'+ elem.face_80+'"><span class="author-v '+ (elem.isadmin == 3 ? "yellow-v" : (elem.isadmin == 4 ? "blue-v" : "")) +'"></span></div><div class="info"><h3 class="fs_14 fw_600 c_b_3 line-hide-1">'+ elem.username +'</h3><div class="info-right fs_12 c_b_9"><span class="fw_300">关注</span>&nbsp;<span class="fw_600 follow-counts">'+ toThousands(elem.count_follow) +'</span><span class="i-icon v-center"></span><span class="fw_300">粉丝</span>&nbsp;<span class="fw_600 fan-counts" data-counts="'+ elem.count_followed +'">'+ toThousands(elem.count_followed) +'</span></div></div>'+ (elem.userid != userid ? '<span class="follow-btn fs_12 c_w_f fw_500 bg-red '+ (elem.isfollow == 1 ? "followed" : "") +'" data-userid="'+ elem.userid +'" data-username="'+ elem.username +'">'+ (elem.isfollow == 1 ? "已关注" : "关注") +'</span>' : '') +'</a></li>'
							}
						});
						_followPopupWrap.find(".list").append(str);
						pageFollow++;
						followFlag = true;
						_moreFollowBtn.text("更多").find(".common-ajax-loading").remove();
					}

					if (page >= res.data.totalPage) {
						_moreFollowBtn.addClass("dn");
					}
		        },
		        error: function(error) {
		        	showDialogTip({tip: "网络错误", error: true});
		        	followFlag = true;
		        	_moreFollowBtn.text("更多").find(".common-ajax-loading").remove();
		        }
		    });
		}
	}
	_moreFollowBtn.on("click", function() {
		getFollowData(pageFollow);
	});



</script>
<div class="filmplay-black-box space-share-wrap dn">
    <div class="filmplay-inner-box space-share-box">
        <div class="space-share-con creator-con">
            <span class="close icon-close"></span>
            <p class="fs_14 fw_600 c_b_3 line-hide-1">分享给其他人</p>
            <div class="space-share-detail clearfix short-height">
                <div class="space-share-left">
                    <div id="code-success"></div>
                    <div class="code-tip fs_12 fw_300 c_b_3">微信扫一扫，分享到朋友圈</div>
                </div>
                <div class="space-share-right">
                    <div class="share-tip fs_12 fw_600 c_b_3">分享到其他平台</div>
                    <link rel="stylesheet" type="text/css"
                          href="http://www.xinpianchang.com/public/js/share/share.min.css?v=1504677685">
                    <div class="social-share-container">

                        <div class="social-share"
                             data-initialized="true"
                             data-image="https://oss-xpc0.xpccdn.com/Upload/user/2018/06/235b2d28fa025d3.jpeg"
                             data-url="http://www.xinpianchang.com/u10017461"
                             data-weibo-title="{{composer.name}}的新世界创作空间（分享自@新世界 ）"
                             data-qzone-title="{{composer.name}}的新世界创作空间"
                             data-qzone-description="{{composer.intro}}"
                             data-qzone-summary="{{composer.intro}}"
                             data-douban-title="{{composer.name}}的新世界创作空间">
                            <!--  <a href="javascript:;" class="social-share-icon icon-wechat icon-weixin"></a> -->
                            <a href="#" class="social-share-icon icon-weibo"></a>
                            <a href="#" class="social-share-icon icon-qzone"></a>
                            <a href="#" class="social-share-icon icon-qq"></a>
                            <!-- <a href="#" class="social-share-icon icon-douban"></a> -->
                        </div>


                    </div>

                    <!-- <script type="text/javascript" src="http://www.xinpianchang.com/public/js/jquery.qrcode.js?v=1502434507"></script> -->
                    <script type="text/javascript"
                            src="http://www.xinpianchang.com/public/js/share/social-share.js?v=1504677685"></script>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://www.xinpianchang.com/public/js/canvas2image.js?v=1502434507" type="text/javascript"></script>
<script>


	var avaterActionFlag = false;
	var curUserid = "10017461";
	$(".avater-action").on("click",function(){
		var _this = $(this);

		$(".space-share-detail canvas").remove();

		_this.find("i")[!avaterActionFlag ? 'addClass' : 'removeClass']("no-active");
		createQrcode(avaterActionFlag);

		avaterActionFlag = !avaterActionFlag;

	})

	var isSpacePage = '1';
	$(".show-qr").on("click",function(){
		$(".space-share-wrap").removeClass("dn");
		banPageScroll();
	});

	createQrcode(isSpacePage);

	$(".download-qrcode").on("click",function(){
			exportCanvasAsPNG($("#code-success canvas")[0], 'qrcode.png');
	});

	function createQrcode(showAvater){
		if (isSpacePage) {
			var img = new Image();
        	var avaterImg  = "https://oss-xpc0.xpccdn.com/Upload/user/2018/06/235b2d28fa025d3.jpeg?id=898176367";
        	var isOtherFace = avaterImg.indexOf('cs.') == -1;
		}


		var ua = navigator.userAgent;
        var isSafari = ua.indexOf("Safari") > -1 && ua.indexOf("Chrome") == -1;

        if (isSafari || isOtherFace) {
	        $(".avater-action").hide();
	    } else if (isSpacePage && !isOtherFace) {
	    	img.crossOrigin = 'anonymous';
	    }

		var options = {
            render: 'canvas',
            minVersion: 4,
            background: "#fff",
            size: 140,
            radius: 0.5,
            text: isSpacePage ? location.origin + "/u" + curUserid : location.href,
            // quiet: 4,

            mSize: 0.15,
            mPosX: 0.5,
            mPosY: 0.5
        };

        if (isSpacePage) {
        	if (isOtherFace) {
        		$('#code-success').empty().qrcode(options);
        	} else {

	        	options.mode = isSafari ? 0 : (showAvater ? 4 : 0);

        		img.onload  = function() {
        			options.image = img;
		            $('#code-success').empty().qrcode(options);
		        }
		        img.src = "https://oss-xpc0.xpccdn.com/Upload/user/2018/06/235b2d28fa025d3.jpeg?id=492181936";
		    }

        } else {
        	$('#code-success').empty().qrcode(options);
        }


	}

	function exportCanvasAsPNG(canvas, fileName) {
        var MIME_TYPE = "image/png";
        var dlLink = document.createElement('a');
        dlLink.download = fileName;
        dlLink.href = canvas.toDataURL("image/png");
        dlLink.dataset.downloadurl = [MIME_TYPE, dlLink.href].join(':');
        document.body.appendChild(dlLink);
        dlLink.click();
        document.body.removeChild(dlLink);
    }



</script>
<div class="space-container">
    <div class="article-con">
        <div class="counts-wrap fs_14 fw_300 c_b_26">
            <div class="cate-list-wrap choose-bar-v3">
                <div class="choose-bar-bottom clearfix">
                    <ul class="sort-type fs_12 fw_300 c_b_3 clearfix">
                        <li class="selected"><a class="icon-default"
                                                href="http://www.xinpianchang.com/user/space/id-10017461/sort-pick/cateid-0/d-1?from=articleListPage">默认</a>
                        </li>
                        <li><a class="icon-time"
                               href="http://www.xinpianchang.com/user/space/id-10017461/sort-new/cateid-0?from=articleListPage">最新</a>
                        </li>
                        <li><a class="icon-hot"
                               href="http://www.xinpianchang.com/user/space/id-10017461/sort-hot/cateid-0?from=articleListPage">热门</a>
                        </li>
                    </ul>
                    <ul class="detail-type fs_12 fw_300 c_b_3 clearfix">
                        <li class="icon-arrow-down duration-item">
                            <span style="font-weight:600;">公开作品</span><i class="article-num">9</i>
                            <div class="common-hover-wrap" style="z-index: 1005;">
                                <div class="hover-box">
                                    <ul class="list">
                                        <li class="selected"><a href="/user/space/id-10017461/d-1">全部<span
                                                class="item-num"></span></a></li>
                                        <li><a href="/user/space/id-10017461/sort-pick/cateid-1/d-1/audit-1">广告<span
                                                class="item-num">5</span></a></li>
                                        <li><a href="/user/space/id-10017461/sort-pick/cateid-29/d-1/audit-1">系列短视频<span
                                                class="item-num">3</span></a></li>
                                        <li><a href="/user/space/id-10017461/sort-pick/cateid-49/d-1/audit-1">纪录<span
                                                class="item-num">1</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- <div class="need-open fcate select">
                        <a href="javascript:;" class="cur-cate fs_14 fw_300 c_b_26 select">公开作品<span class="nums">9</span></a>
                        <div class="common-hover-wrap hover-wrap zIndex-3">
                            <div class="hover-box">
                                <ul class="list fw_300">
                                    <li class="select"><a href="/user/space/id-10017461/d-1">全部<span class="item-nums">9</span></a></li>
                                                                        <li class="select"><a href="/user/space/id-10017461/cateid-/d-1/audit-1">
                                    <span class="item-nums">5</span></a></li>
                                                                        <li class="select"><a href="/user/space/id-10017461/cateid-/d-1/audit-1">
                                    <span class="item-nums">3</span></a></li>
                                                                        <li class="select"><a href="/user/space/id-10017461/cateid-/d-1/audit-1">
                                    <span class="item-nums">1</span></a></li>
                                                                    </ul>
                            </div>
                        </div>
                    </div>
                     -->
                </div>
            </div>
            <!-- <div class="cate-counts-wrap fs_12">作品&nbsp;<span class="counts fw_600">9</span></div> -->
        </div>
        <div class="article-wrap">
            <div class="top-video enter-filmplay" data-articleid="{{first_post.pid}}" data-videoUrl="UserProfile">
                <a class="video-cover top-video-cover" href="javascript:;">
                    <img class="video-img lazy-img"
                         _src="{{first_post.thumbnail}}">
                    <span class="duration fs_14">{{first_post.durations}}</span>
                    <div class="video-cover-con">
                        <div class="video-mark">
                            <span class="pick vmovier"><svg width="24" height="24" viewBox="0 0 60 60" version="1.1"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1"
                                                                                                          stroke="none"
                                                                                                          stroke-width="1"
                                                                                                          fill="none"
                                                                                                          fill-rule="evenodd"><g
                                    id="web切片" transform="translate(-836.000000, -489.000000)"><g id="Group-4-Copy-3"
                                                                                                  transform="translate(836.000000, 489.000000)"><path
                                    d="M30,60 C46.5685425,60 60,46.5685425 60,30 C60,13.4314575 46.5685425,0 30,0 C13.4314575,0 0,13.4314575 0,30 C0,46.5685425 13.4314575,60 30,60 Z"
                                    id="Oval" fill="#000000" fill-rule="nonzero"></path><path
                                    d="M48.862785,35.7141055 L50.4894847,39.0387973 L53.585081,37.7817071 C52.9140489,39.6724171 52.0276967,41.4616319 50.9304486,43.1116534 L47.7979825,43.3668412 L47.3658673,39.1170935 C47.9720084,38.0412447 48.4704893,36.901599 48.862785,35.7141055 Z M12.6336902,39.1165136 L12.2015751,43.3677112 L9.06910893,43.1110734 C7.97333569,41.461052 7.08550866,39.6732871 6.41447659,37.7811271 L9.51154765,39.0382173 L11.1367726,35.7135255 C11.5290682,36.9024689 12.029024,38.0421147 12.6336902,39.1165136 Z M10.4950889,33.1767263 L8.67519099,37.0103438 L5.75067103,35.5749121 C5.28168599,33.7016013 5.00589918,31.754344 5,29.73749 L7.53959827,32.0211313 L10.1824322,29.2140649 C10.1780078,29.3677576 10.1573607,29.5171005 10.1573607,29.6707932 C10.1573607,30.8684362 10.2841931,32.0385305 10.4950889,33.1767263 Z M17.3418282,11.25 L15.653187,14.5949908 L11.862962,16.4132042 L13.0590213,12.8173754 L17.3418282,11.25 Z M12.2766422,20.9208947 L8.48051795,22.9015004 L6.94378079,20.1379319 C7.72247294,18.3153687 8.7386072,16.6174995 9.916969,15.0486742 L10.5762027,18.3168186 L14.5419284,17.4323607 C13.664425,18.5067596 12.9108044,19.6783038 12.2766422,20.9208947 Z M10.3769578,26.9252039 L7.41704274,29.9323607 L5.09866384,27.6951172 C5.25351739,25.7725087 5.62074153,23.9107973 6.19886146,22.1389817 L7.94207002,24.8764514 L11.3341002,23.0930363 C10.8901867,24.3196779 10.5672064,25.5999669 10.3769578,26.9252039 Z M13.9343126,41.1074138 C14.8250892,42.321006 15.8530219,43.4287533 16.9974634,44.4103566 L17.4782468,48.1888767 L14.1997758,48.75 C12.754476,47.5857054 11.4581305,46.2546688 10.3092647,44.8061877 L13.5316934,44.8902837 L13.9343126,41.1074138 Z M52.4604017,32.0212763 L55,29.737635 C54.9941008,31.7530391 54.718314,33.7017463 54.249329,35.5750571 L51.324809,37.0090389 L49.5049111,33.1768713 C49.7158069,32.0386755 49.8426393,30.8685812 49.8426393,29.6694882 C49.8426393,29.5157955 49.8219922,29.3664527 49.8175678,29.2142099 L52.4604017,32.0212763 Z M47.7235053,20.9208947 C47.0893431,19.6783038 46.3357225,18.5067596 45.458219,17.4323607 L49.4239448,18.3168186 L50.0831785,15.0486742 C51.2615403,16.6174995 52.2776745,18.3153687 53.0563667,20.1379319 L51.5196295,22.9015004 L47.7235053,20.9208947 Z M48.6654573,23.0937612 L52.0589623,24.8771763 L53.8006961,22.1382567 C54.378816,23.9100724 54.7460402,25.7732337 54.9023685,27.6943922 L52.5825148,29.9316358 L49.6225998,26.9259288 C49.4338259,25.6006919 49.1108456,24.3204028 48.6654573,23.0937612 Z M48.1368905,16.4132042 L44.3466655,14.5949908 L42.6580244,11.25 L46.9408312,12.8173754 L48.1368905,16.4132042 Z M46.0658349,41.1074138 L46.4684541,44.8902837 L49.6908828,44.8061877 C48.5420169,46.2546688 47.2456715,47.5857054 45.8003716,48.75 L42.5219007,48.1888767 L43.0026841,44.4103566 C44.1471256,43.4287533 45.1750583,42.321006 46.0658349,41.1074138 Z"
                                    id="Combined-Shape" fill="#FFFFFF"></path><path
                                    d="M37.7960982,22.5 L29.9999537,34.9738024 L22.2038555,22.5 L17.5,22.5 L29.9999537,42.5 L42.5,22.5 L37.7960982,22.5 Z M25.0469112,22.5 L29.9798132,30.3926471 L34.9127151,22.5 L25.0469112,22.5 Z"
                                    id="Page-1" fill="#FFFFFF"></path></g></g></g></svg></span>
                            <div class="list-tags">
                            </div>
                        </div>
                    </div>
                    <div class="video-hover-con">
                    </div>
                </a>
                <div class="top-video-info">
                    <a href="/a{{first_post.pid}}" target="_blank"><h3 class="title fs_20 fw_600 c_b_s_1 line-hide-2">{{first_post.title}}</h3></a>
                    <div class="new-cate">
						<span class="fs_12 fw_300 c_b_9">
						{{first_post.category}}</span></div>
                    <!-- 作品的文案 不是分类 -->
                    <p class="desc fs_12 fw_300 c_b_3 line-hide-6">{{first_post.description}}</p>
                    <div class="video-view fs_12 fw_300 c_b_9">
                        <span class="fw_300 icon-play-volume">{{first_post.play_counts}}</span>
                        <span class="fw_300 c_b_9 icon-like">{{first_post.like_counts}}</span>
                    </div>
                    <div class="user-info">
                        <div class="user-link v-center">
							<span class="name fs_14 fw_300 c_b_3 v-center line-hide-
							1" style="padding-left: 0;">片中职务</span>
                        </div>
                        <span class="role fs_14 fw_600 c_b_3 v-center line-hide-1">{{first_post.roles}}</span>
                        <!--  -->
                    </div>
                </div>
            </div>
            <ul class="article-list">
                {% for post in rest_posts %}
                <li class="enter-filmplay" data-articleid="{{post.pid}}" data-videourl="UserProfile">
                    <a class="video-cover" href="javascript:;">
                        <img class="lazy-img"
                             _src="{{post.thumbnail}}">
                        <span class="duration fs_12">{{post.durations}}</span>
                        <div class="video-cover-con">
                            <div class="video-mark">
                                <span class="square"><svg width="24" height="24" viewBox="0 0 60 60" version="1.1"
                                                          xmlns="http://www.w3.org/2000/svg"
                                                          xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Page-1"
                                                                                                        stroke="none"
                                                                                                        stroke-width="1"
                                                                                                        fill="none"
                                                                                                        fill-rule="evenodd"><g
                                        id="web切片" transform="translate(-911.000000, -490.000000)"><g id="Group"
                                                                                                      transform="translate(911.000000, 490.000000)"><circle
                                        id="Oval-8" fill="#000000" cx="30" cy="30" r="30"></circle><polygon
                                        id="Rectangle-7-Copy" fill="#F7F7F7"
                                        points="21.5625 17.8125 38.4375 17.8125 38.4375 42.1875 30 35.5397727 21.5625 42.1875"></polygon></g></g></g></svg></span>
                                <div class="list-tags">
                                </div>
                            </div>
                        </div>
                        <div class="video-hover-con">
                            <div class="fs_12 fw_300 c_w_f desc line-hide-3">{{post.description}}</div>
                            <p class="fs_12">{{post.created_at}} 发布</p>
                        </div>
                    </a>
                    <div class="video-con">
                        <div class="video-con-top">
                            <a href="javascript:; line-hide-1"><p class="fs_14 fw_600 c_b_3 line-hide-1">{{post.title}}</p></a>
                            <div class="new-cate">
                                <!-- 	<span class="fs_12 fw_300 c_b_9">
                                    Array						</span>
                                     -->
                                <!-- <span class="fs_12 fw_300 c_b_9">
                                    纪录														 - 旅行
                                </span>
                                 -->
                                <span class="fs_12 fw_300 c_b_9">
												{{post.category}}					</span>
                            </div>
                            <div class="video-view fs_12 fw_300 c_b_9">
                                <span class="fw_300 icon-play-volume">{{post.play_counts}}</span>
                                <span class="fw_300 c_b_9 icon-like">{{post.like_counts}}</span>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="user-link v-center">
                                <span class="name fs_12 fw_300 c_b_3 v-center line-hide-1"
                                      style="padding-left: 0;">片中职务</span>
                            </div>
                            <span class="role fs_12 fw_300 c_b_9 v-center line-hide-1">{{post.roles}}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="more-btn more fs_16 fw_600 c_b_3">更多</div>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(function() {
		var _moreBtn = $(".more-btn"),
			page = 1,
			flag = true,
			noMore = false;

		function noMoreTip() {
			_moreBtn.addClass("no-more").removeClass("more-btn").text("没有更多了");
			flag = false;
		}

		if (!$(".article-list li").eq($(".article-list li").length - 2).data("more")) {
			noMoreTip();
		}

		$(".detail-type li").hover(function() {
			$(this).find(".common-hover-wrap").addClass("visible");
		}, function() {
			$(this).find(".common-hover-wrap").removeClass("visible");
		})

		_moreBtn.on("click", function() {
			page++;
			if (flag) {
				_moreBtn.html("<span class='common-ajax-loading'></span>");
				flag = false;
				$.post(siteUrl +"index.php?app=user&ac=space&ajax=1&id=10017461&d=1&sort=pick&cateid=0&audit=1&is_private=0&page="+page,{},function(res){
					_moreBtn.text("更多").find(".common-ajax-loading").remove();
					if (res) {
						$(".article-list").append(res);
						lazyImg();
						if (!$(".article-list li").eq($(".article-list li").length - 1).data("more")) {
							noMoreTip();

						} else {
							flag = true;
						}
					}else{
						noMoreTip();
					}

				},'');
			}
		});

		// 显隐下面三个按钮
		$(document).on("mouseenter", ".photo-operation", function() {
			var _this = $(this);
			_this.find(".photo-edit-wrap").addClass("visible");
		});

		$(document).on("mouseleave", ".photo-operation", function() {
			var _this = $(this);
			_this.find(".photo-edit-wrap").removeClass("visible");
		});

		// 图集上面的三个图标
		$('body').on('click',".photo-edit-box div",function(e){
			var _this = $(this),
				articleid = _this.data("id");
				optype = _this.attr("id");
				tip = _this.data("tip"),
				url = '/user/space/ts-'+ optype;
				audit = $(this).data('audit');
				obj = {id:articleid,audit:audit==2?audit:0};
			if (optype=='delete') {

				showSureDialogTip({
					title : "提示",
					content :"确认"+ tip +"？"
				}, function(){
					dopost(url,obj);
				});

			}else if(optype=='edit'){
				$.post(url,obj,function(res){
					if (res.status==1) {
				        window.location.href="/upload/index/ts-edit/id-"+articleid;
					}else{
						showDialogTip({tip:res.msg,error:true});
					}
				},'json')
			}else if(optype=='opTop'){
				dopost (url,obj);
			}
			e.stopPropagation();
		})
		function dopost (url,obj) {
			$.post(url,obj,function(res){
				if (res.status==1) {
			        showDialogTip({tip:res.msg,type: 'success'},function() {
			        	location.reload();
			        });
				}else{
					showDialogTip({tip:res.msg,error:true});
				}
			},'json')
		}
	});


</script>
<div class="footer-wrap">
    <div class="footer-inner">
        <div class="footer-con clearfix">
            <div class="left fl">
                <div>
                    <a class="logo-wrap v-center" href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="140" height="40" viewBox="0 0 140 38">
                            <path fill="#E74B3B" fill-rule="evenodd"
                                  d="M29.973 23.69h-2.302l-.918-3.016-.28-1.05-.28 1.077-.885 2.99h-2.31l-1.225-9.521h1.971l.62 5.378.146 1.472.348-1.321.867-2.896h1.58l.927 2.877.399 1.358.162-1.509.518-5.36h1.878l-1.216 9.522zm-9.147-4.881c-.01.25-.022.483-.038.702h-5.677c0 .42.059.788.175 1.106.116.318.28.586.492.801.213.215.468.38.765.492.298.113.627.169.99.169.42 0 .868-.035 1.348-.108a9.728 9.728 0 0 0 1.49-.351v1.817c-.22.07-.461.132-.722.188-.26.056-.527.106-.799.15a10.683 10.683 0 0 1-1.631.132c-.657 0-1.247-.104-1.768-.31a3.48 3.48 0 0 1-1.325-.914c-.363-.402-.64-.9-.834-1.494-.192-.593-.287-1.28-.287-2.062 0-.774.095-1.48.287-2.114a5.047 5.047 0 0 1 .816-1.63 3.652 3.652 0 0 1 1.28-1.05 3.754 3.754 0 0 1 1.678-.37c.612 0 1.152.105 1.622.314.47.21.865.502 1.182.877.317.374.558.822.722 1.34.164.518.247 1.087.247 1.705 0 .157-.004.36-.013.61zm-9.852 4.882H8.9v-6.205c0-1.042-.351-1.564-1.053-1.564-.351 0-.688.156-1.008.469-.32.312-.658.736-1.016 1.273v6.027H3.75V14.17h1.792l.052 1.406c.176-.244.358-.466.548-.666.19-.2.396-.37.616-.511.222-.14.46-.248.714-.324.256-.074.542-.112.859-.112.442 0 .827.08 1.155.239.33.16.604.385.824.675.222.29.387.64.498 1.05.11.408.166.866.166 1.373v6.39zM24.2 5.377c13.16 7.532 15.582 15.063 7.272 22.597l1.256 4.652-5.442-1.448a54.183 54.183 0 0 1-3.086 1.9C8.066 42.313 0 37.695 0 19.228 0 .76 8.066-3.857 24.2 5.377zm-5.966 10.826a1.477 1.477 0 0 0-.543-.403 1.696 1.696 0 0 0-.668-.131c-.521 0-.95.192-1.283.576-.333.384-.532.927-.595 1.626h3.587c.005-.374-.038-.7-.128-.979a2.003 2.003 0 0 0-.37-.69zm43.66 4.178l-.203 2.88h-5.35l-.547 7.771c-.13 3.07-1.583 4.557-4.36 4.462h-2.478l.202-2.879h1.174c1.123.095 1.686-.478 1.688-1.726l.538-7.629h-5.742l.202-2.879h5.742l.233-3.31H46.6l.212-3.022h3.001a16.475 16.475 0 0 1-.74-4.319h3.524c-.023 1.537.182 2.975.609 4.319h3.393a14.775 14.775 0 0 0 1.217-4.319h3.523a18.248 18.248 0 0 1-1.348 4.319h2.871l-.213 3.022h-5.872l-.233 3.31h5.35zm2.67-16.408h6.785c2.343.097 4.455-.238 6.335-1.007l-.223 3.166c-1.612.673-3.46.961-5.541.864h-3.914l-.366 5.901h9.656l-.212 3.023h-2.871l-1.39 19.718H69.04l1.39-19.718h-3.001l-.64 9.067c-.11 5.279-2.066 8.971-5.869 11.083l.192-2.735c-2.69-1.342-3.968-4.174-3.837-8.492h3.131c-.21 2.975.327 5.231 1.611 6.765.502-.959.856-2.879 1.058-5.758l1.49-21.877zM48.27 24.843h3.002c-.319 4.512-2.403 7.534-6.25 9.067l.162-2.303c1.674-1.532 2.702-3.789 3.086-6.764zM62.807 5.557l-.212 3.022H47.98l.213-3.022h5.22L53.474 3h4.175l-.06 2.557h5.217zm38.502-2.591l-.65 9.212h7.308l-.223 3.166H86.997l-.314 4.462h16.049l-1.115 15.832H97.31l.893-12.666H86.46l-.142 2.015c-.04 5.469-2.867 9.211-8.489 11.227l.202-2.88c2.35-1.244 3.559-3.597 3.629-7.052L83.24 2.966h4.567l-.587 9.212h9.394l.65-9.212h4.044zm25.93 11.658h12.266l-1.074 15.257c-.098 3.837-1.879 5.66-5.343 5.47h-2.872l.202-2.88h1.828c1.479 0 2.227-.766 2.25-2.302l.882-12.522h-2.48c-.595 8.444-3.503 14.537-8.724 18.278l.243-3.454c2.765-3.453 4.418-8.394 4.959-14.824h-3.262c-.67 8.254-3.574 14.298-8.716 18.135l.233-3.31c2.867-3.646 4.52-8.587 4.959-14.825h-2.087l.212-3.023c4.311-1.918 8.086-5.852 11.328-8.635h-9.917l.213-3.023h16.571l-.214 3.023c-4.058 3.262-7.877 7.196-11.457 8.635zm-7.866 11.659l-.213 3.022a31.578 31.578 0 0 1-10.25 2.879l.253-3.599c1.13 0 2.229-.143 3.293-.432l1.095-15.544h-3.001l.213-3.023h3l.467-6.62h3.914l-.467 6.62h2.74l-.212 3.023h-2.74l-1.033 14.682c.888-.289 1.87-.624 2.94-1.008z"/>
                        </svg>
                    </a>
                    <span class="v-center fs_14 c_b_3">用作品打动世界！</span>
                </div>
                <p class="fs_12 c_b_9 fw_300">
                    新世界是国内专业的影视创作人社区，汇聚众多优秀创作人，提供作品展示、项目交流、拍摄制作机会等影视行业服务。在这里，你可以找到合适的创作人。在这里，用作品打动世界！</p>
                <!-- <p class="record">京ICP备14003808号-1&nbsp;&nbsp;京公网安备11010802013821号</p> -->
            </div>
            <div class="right fr clearfix">
                <div class="column-item fl">
                    <p class="title fs_16 c_b_3 fw_600">关于</p>
                    <ul class="list fs_12 fw_300">
                        <li><a target="_blank" href="/aboutus/aboutus">关于我们</a></li>
                        <li><a target="_blank" href="/aboutus/help">使用帮助</a></li>
                        <li><a target="_blank" href="http://www.vmovier.com/join">加入我们</a></li>
                        <li><a target="_blank" href="/aboutus/responsibility">责任声明</a></li>
                    </ul>
                </div>
                <div class="column-item fl">
                    <p class="title fs_16 c_b_3 fw_600">活动</p>
                    <ul class="list fs_12 fw_300">
                        <li><a target="_blank" href="/activity/filmfest/ts-filmfest">NEW ERA 青年电影季</a></li>
                        <li><a target="_blank" href="http://www.vmovier.com/activity/cateid/56?from=activity_creation">创作吧少年</a>
                        </li>
                        <li><a target="_blank" href="http://www.vmovier.com/activity/cateid/49?from=activity_openday">新世界开放日</a>
                        </li>
                        <li><a target="_blank" href="http://www.vmovier.com/activity">更多活动</a></li>
                    </ul>
                </div>
                <div class="column-item fl">
                    <p class="title fs_16 c_b_3 fw_600">新世界集团</p>
                    <ul class="list fs_12 fw_300">
                        <li><a target="_blank" href="/">新世界社区</a></li>
                        <li><a target="_blank" href="http://film.xinpianchang.com">新世界影业</a></li>
                        <li><a target="_blank" href="https://molitv.tv">新世界短视频</a></li>
                        <li><a target="_blank" href="/project/make">新世界营销</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="bottom-con">
                <span class="copyright">Copyright © 2017 - 2018 新世界. All rights reserved.</span>
                <span class="copyright">京ICP备14003808号-1</span>
                <span class="copyright"><a target="_blank"
                                           href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102002903"><img
                        src="http://www.xinpianchang.com/public/images/ba-icon.png"><p>京公网安备11010102002903号</p></a></span>
                <div class="other-wrap">
                    <a class="weibo" href="http://weibo.com/qinglanji" target="_blank">
                        <span class="icon-weibo"></span>
                    </a>
                    <a class="weixin" href="javascript:;">
                        <span class="icon-weixin"></span>
                        <div class="qr-wrap">
                            <div class="qr-title">微信二维码</div>
                            <div class="qr-img">
                                <img src="//cs.vmovier.com/Uploads/Activity/2017-07-28/597aa809706c7.jpg">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="new-version-tip dn">
	<div class="newq-tip-con">
		<img src="http://cs.vmovier.com/Uploads/Activity/2017-07-31/597f362740c7e.png" class="new-version-img">
		<span class="bg-red new-tip-close">立即体验</span>
	</div>
	<div class="slide-bar">
		<ul class="slide-bar-list">
			<li class="to-feedback" id="to-feedback"><span>新版<br>反馈</span></li>
		</ul>
	</div>
</div> -->
<script>var siteUrl = "http://www.xinpianchang.com/";</script>
<script type="text/javascript">
	var share_title = "";
	var share_desc = "";
	var share_img = "";


</script>
<script src="http://www.xinpianchang.com/public/js/jquery.cookie.js?v=1502434507"></script>
<script>
	$('.first').hover(function() {
		$(this).parent().children().first().css({borderBottom: '7px solid #454545'});
	},function(){
		$(this).parent().children().first().css({borderBottom: '7px solid #323232'});
	});


</script>
<script>
	var hideCode;
	$('.follow-wx').hover(function(){
		$(this).parent().parent().siblings('.wx-qr').css('display','block');
		$(this).next(".follow-wx-tri").css('display','block');
	},function(){
		$(this).parent().parent().siblings('.wx-qr').css('display','none');
		$(this).next(".follow-wx-tri").css('display','none');
	});
	$('.followus').hover(function(){
		$(this).siblings('.wx-qr-follow').css('display','block');
	},function(){
		hideCode=setTimeout(function(){
			$(".wx-qr-follow").hide();
		},300);
		$(this).siblings('.wx-qr-follow').css('display','none');
	});



</script>
<script>
var userid=10356603;
if (userid) {
	$('.needLogin').removeClass('needLogin');
};
//evdata(userid);
$("#feedBack .feedback_icon").click(function(){
	$(".feedback_post_bg").fadeIn(200);
	$("#feedback_post_textarea_div textarea").focus(function(){
		$(this).val('');
	})
	$("#feedback_action_btn_div").bind('click',function(){
		var content = $.trim($("#feedback_post_textarea_div textarea").val());
		if(content && content!='请提供你宝贵的建议，让我们做得更好！'){
			$.post(siteUrl+'index.php?app=aboutus&ac=feedback',{content:content},function(re){
				if(re.status){
					$("#feedback_post_textarea_div").hide();
					$("#feedback_post_succeed_div").show();
					$("#feedback_action_btn_div").hide();
				}
			},'json')
			setTimeout(function(){
				$(".feedback_post_bg").hide();
				$("#feedback_post_textarea_div").show();
				$("#feedback_post_succeed_div").hide();
				$("#feedback_action_btn_div").show();
				$("#feedback_post_textarea_div textarea").val('');
			},3000)
		}else{

		}
	})
})
$("#feedback_close_btn_div").click(function(){$(".feedback_post_bg").fadeOut(200);})
$(".login_close_footer").click(function(){
	$(".login-guide").remove();
	var date = new Date();
    date.setTime(date.getTime() + (7 * 24 * 60 * 60 * 1000)); //三天后的这个时候过期
    $.cookie('login-guide',1, { path: '/', expires: date });
})
$(function(){
	var pre_href = $('#v-notice-num').attr('href');

	// getVmovierNotice();
	// setInterval(function(){
	// 	getVmovierNotice();
	// },200000);
	// function getVmovierNotice () {
	// 	var href = $('#v-notice-num').attr('href');
	// 	$.ajax({
	// 		type:'get',url:'http://www.vmovier.com/'+'notice/getUnreadNum',
	// 		dataType:'jsonp',jsonp:'vjsonp',jsonpCallback:'callback',success:function(res){
	// 			if( res.num != 0 ){
	// 				$('#v-notice-num').text(res.num).removeClass('dn');
	// 				$('#v-notice-num').attr('href',pre_href+res.href)
	// 			}else{
	// 				$('#v-notice-num').text(res.num).addClass('dn');
	// 			}
	// 		}
	// 	});
	// }
});



</script>
<script type="text/javascript">
function sns_conform(title,content,next_func){
	var conformDoText=arguments[3]?arguments[3]:'确定';
	$("#snsModalLabel").text(title);
	$("#snsModalContent").text(content);
	$("#conformDo").text(conformDoText);
	$('#snsModal').modal('show');
	$('#conformDo').bind('click',function(){
		$('#snsModal').modal('hide');
		next_func();
	});

}


</script>
<!-- <script src="http://www.xinpianchang.com/public/js/common.js?v=1522232897" type="text/javascript"></script> -->

<!--[if IE 6]>
<script src="http://letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
<script type="text/javascript">
$(document).ready(function(){
	/*
	$('#wx2wm').hover(function(){
         $(".erweima").show();
	},function(){
         $(".erweima").hide();
	});
	*/
	$("#xma_search").bind("click",function(){
		var conVal = $('#search').val();
		if(conVal == ''){
			var pace = 600;
			$('#search').css('backgroundColor','#D9EDF7').animate({opacity:0.2},pace).animate({opacity:1},pace,function(){
				$('#search').css('backgroundColor','#fff');
			});
			return;
		}
		else
			$('#search_btn').click();
	});
	/* 绑定search input框的回车按下按钮。 */
	$("#search").bind("keyup",function(event){
		if( event.keyCode == 13 ){
			var conVal = $.trim($('#search').val());
			if(conVal == ''){
				var pace = 600;
				$('#search').css('backgroundColor','#D9EDF7').animate({opacity:0.2},pace).animate({opacity:1},pace,function(){
					$('#search').css('backgroundColor','#fff');
				});
				return false;
			}else{
				$('#search_btn').click();
			}
		}
	});
});



</script>

<script src="http://www.xinpianchang.com/public/js/baidu_persona.js?v=1502434507"></script>
<!-- 百度自动推送 -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();


</script>


<script src="http://www.xinpianchang.com/public/js/artDialog/artDialog.min.js?v=1502434507"></script>
<script src="http://www.xinpianchang.com/public/js/artDialog/artDialog.plugins.min.js?v=1502434507"></script>
<!-- <script type='text/javascript' src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script> -->
</body>
</html>
