<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
</head>
<body>
<p><span id="result"></span></p>
<p><a href="#" id="calc">计算结果</a></p>
</body>
</html>
{#<!-- 自动获取网站路径-->#}
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe   }};
</script>
<!-- 加载jsquery -->
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<!-- 使用jQuery发送数据给服务器-->
<script>
$(function(){
    $('#calc').bind('click',function(){
        $.getJSON($SCRIPT_ROOT + '/add',{
        // 发送请求的数据
            a: 11,
            b: 2
        },
        function(server_resp_data){
            //console.log(server_resp_data)
            // 处理返回的数据
            console.log(server_resp_data.result)
            $("#result").text(server_resp_data.result)
            //$("#result").html("<h1>"  +server_resp_data.result + "</h1>")
        });
    });
});
</script>
<!-- 把服务器返回的json数据填充到当前页面-->
{#<p> <span  id="result">  </span> </p>#}
{#<p>  <a  href= '#' id="calc" > 计算结果  </a>  </p>#}