
{% extends 'html_list/laouts/master.html' %}
{% block container %}
<div class="text-center">
        <h1>欢迎光临！</h1>
        <hr/>


        <p>有任何建议，请联系</p>

        <h3>EMILY</h3>
        <h4><a href="mailto:gavinsun@qq.com">emilyas@qq.com</a></h4>
    </div>
{% endblock %}