{% extends 'html_list/laouts/master.html' %}
{% block container %}

<div class="container">
        <h1>新建列表</h1>

        <form>
        	<input type="" name="">
        	<input type="submit" name="" value="send">
        </form>
      

        <h3>Gavin</h3>
        <h4><a href="mailto:gavinsun@qq.com">gavinsun@qq.com</a></h4>
    </div>
{% endblock %}