<!DOCTYPE html>
<html>
<head>
	<title>客栈——主页面</title>
</head>
<body bgcolor="purple">


	<form method="post" action="/food/create/">
		<input type="" name="content">
		<input type="" name="price">
		<input type="submit" name="" value="增 加">
	</form>


	<ul>
		{% for i in datas %}
			<li>
				{{ i.id }}&nbsp;
				{{ i.content }} &nbsp;
				{{ i.price }} &nbsp;
				<form method="post" action="/food/delete/{{ i.id }}/">
					<input type="hidden" name="">
					<input type="submit" name="" value="删 除">
				</form>

			</li>
				
		{% endfor %}
	</ul>
	`<a href="{% url 'home' %}"><<<上一页</a>
</body>
</html>