<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
</head>
<body>
    {% with messsages=get_flashed_messages() %}
        {% for i in messsages %}
            {{ i }}
        {% endfor %}
    {% endwith %}
    {% block body %}
    {% endblock %}
</body>
</html>