{% extends 'layout.html' %}
{% block body %}


    <h1> 登录 </h1>
   {% if error %}
    {{ error }}
    {% endif %}
    <form action="/login " method="post">
        <input type="text" name="username">
        <input type="submit" value="登录">
    </form>
{% endblock %}