<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ username }}
{{ errors }}
{% if errors  %}
    <ur>
    {% for i in errors %}
        <li>{{ i }}</li>
    {% endfor %}
    </ur>
{% endif %}
</body>
</html>