{#{% macro render_field(field,placeholder=None) %}#}
{#    {% if field.errors %}#}
{#        {% elif field.flags.error %}#}
{#        {% else %}#}
{#        {% endif %}#}
{#    {% endif %}#}
{##}
{#{% endmacro %}#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈，注册啦！</title>
</head>
<body>
<div>
    {% for error in errors %}
        {{ error }}
        <br>
    {% endfor %}
</div>
<form action="/auth/signup" method="post">
    {{ form.csrf_token }}
    <input type="text" name="name">
{#    {{ render_field(form.email,placeholder='Your email address') }}#}
{#    {{ render_field(form.password,placeholder='You password') }}#}
    {{ form.email }}
    <br>
    {{ form.password }}
    <input type="submit" >


</form>


</body>
</html>