<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈，注册啦！</title>
</head>
<body>
{#<div>#}
{#    {% for error in errors %}#}
{#        {{ error }}#}
{#        <br>#}
{#    {% endfor %}#}
{#</div>#}
{#<form action="/auth/signin" method="post">#}
{#    {{ form.csrf_token }}#}
{##}
{#    {{ render_field(form.email,placeholder='Your email address') }}#}
{#    {{ render_field(form.password,placeholder='You password') }}#}
{#    {{ form.email }}#}
{#    <br>#}
{#    {{ form.password }}#}
{#    <input type="submit" value="登录">#}
{##}
{##}
{#</form>#}
    <hr>
{% for i in users  %}


    {{ i.email }}
{% endfor %}
    <hr>
{{ one_user }}
    <hr>
<ur>
{% for i in user_filer %}
<li>
     {{ i }}
</li>


{% endfor %}
</ur>
    <hr>

    <hr>
<ur>
{% for i in  user_filter_by %}
<li>
     {{ i }}
</li>


{% endfor %}
</ur>
    <hr>
</body>
</html>